[Unit]
Description=Spring Boot Application - MJ Feedback
After=network.target

[Service]
User=ubuntu
ExecStart=/usr/bin/java -jar /home/ubuntu/mj-feedback-spring.jar --spring.config.location=/home/ubuntu/application.yml
SuccessExitStatus=143
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
